/* oneConts */
* {
    margin: 0;
    padding: 0;
}

.oneConts {
    width: 100%;
    text-align: center;
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
}

.oneConts .conts {
    position: relative;
    height: 52px;
    width: 1020px;
    margin: 0 auto;
}

.oneConts .conts .list-menu {
    list-style: none;
    float: left;
    padding-top: 15px;
}

.oneConts .conts .list-menu li{
    float: left;
    position: relative;
    font-size: 12px;
}

.oneConts .conts .list-menu li:before{
    content: ''; width: 1px; height: 10px; background-color: #bbb; position: absolute; left: 0; top: 2px;
}

.oneConts .conts .list-menu li:first-child:before{
    width: 0;
}

.oneConts .conts .list-menu li a{
    text-decoration: none;
    color: black;
    padding: 0 20px 0 21px;
    line-height: 16px;
}

.oneConts .conts .sel_family_group {
    float: left;
    position: absolute;
    top: 10px;
    right: 0;
}

.oneConts .conts .sel_family_group select{
    width: 235px;
    height: 30px;
    color: #777;
}

/* twoConts */
.twoConts .conts {
    width: 1020px;
    margin: 0 auto;
    list-style: none;
    border-bottom: 1px solid #bbb;
}

.list-area {
    overflow: hidden;
    list-style: none; 
}

.list-area > li {
    float: left;
    height: 175px;
}

.list-area > li:nth-child(1) {
    position: relative;
    width: 509px;
}

.list-area li:nth-child(1) .logo {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -12px;
    padding: 0;
    font-size: 0;
    line-height: 0
}

.list-area li:nth-child(1) .logo img {
    width: 146px;
    height: 24px;
}

.list-area li:nth-child(1) h2 {
    padding: 28px 0 3px 170px;
    font-size: 12px;
    color: #000;
    line-height: 20px;
    text-align: left;
}

.list-area li:nth-child(1) p {
    padding: 0 0 0 170px;
    text-align: left;
    font-size: 12px;
    color: #777;
    line-height: 20px;
}

.list-area li:nth-child(1) p .link{
    display: inline-block;
    margin-left: 7px;
    color: #333;
    border-bottom: 1px solid #333;
    line-height: 16px;
}

.list-area li a{
    color: #777;
    text-decoration: none;
}

.list-area li:nth-child(2) {
    width: 255px;
}

.list-link {
    list-style: none;
    padding: 26px 0 0 20px;
}

.list-link li{
    text-align: left;
}

.list-link li a{
    display: inline-block;
    color: #777;
    font-size: 12px;
    line-height: 21px;
    vertical-align: top;
}

.list-area li:nth-child(3) {
    width: 255px;
}

.list-area li:nth-child(3) h2{
    padding: 25px 0 0 20px;
    color: #000;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
}

.list-area li:nth-child(3) p{
    padding: 10px 0 0 20px;
    color: #777;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
}

.list-area li:nth-child(3) p a {
    color: #000;
    text-decoration: underline;
}


/* FourConts */
.fourConts .conts {
    border-top: 1px solid #ddd;
    text-align: center;
}

.fourConts ol li {
    display: inline-block;
    font-family: 'montserrat', 'noto', 'Roboto', sans-serif;
    color: #777;
    font-size: 11px;
    line-height: 53px;
    list-style: none;
}

.fourConts ol li.isms:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 26px;
    height: 26px;
    background: url(http://www.oliveyoung.co.kr/pc-static-root/image/common/foot_isms.png) no-repeat 0 0;
    margin: 0 7px 1px 0;
}

.fourConts ol li .bar:before {
    content: '|';
    display: inline-block;
    margin: 0 5px;
    font-family: 'montserrat', 'noto', 'Roboto', sans-serif;
    color: #777;
    font-size: 11px;
}

.fourConts ol li .bar:before {
    content: '|';
    display: inline-block;
    margin: 0 5px;
    font-family: 'montserrat', 'noto', 'Roboto', sans-serif;
    color: #777;
    font-size: 11px;
}

.fourConts ol li.ncsi:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 20px;
    background: url(http://www.oliveyoung.co.kr/pc-static-root/image/common/foot_ncsi.png) no-repeat 0 0;
    margin: 0 7px 2px 0;
}



.fourConts ol:after {
    content: '';
    display: block;
    clear: both;
}

.fourConts ol li.ncsi {
    margin-left: 28px;
}

.fourConts ol li {
    display: inline-block;
    font-family: 'montserrat', 'noto', 'Roboto', sans-serif;
    color: #777;
    font-size: 11px;
    line-height: 53px;
}

.threeConts {
    border-top: 1px solid #e5e5e5;
    background: #f9f9f9;
}

.threeConts .conts {
    overflow: hidden;
    height: 40px;
    width: 1020px;
    margin: 0 auto;
}

.copyright {
    float: left;
    padding: 11px 0 0;
    color: #888;
    font-size: 11px;
    line-height: 18px;
    font-weight: 700;
}

.sns {
    overflow: hidden;
    float: right;
    padding: 9px 0 0;
}

.sns h2 {
    float: left;
    margin-right: 4px;
    color: #aaa;
    font-size: 12px;
    padding: 3px 0 0;
}

.sns a {
    float: left;
    margin: 0 8px;
    font-size: 0;
    line-height: 0;
    vertical-align: top;
}

.sns a img{
    border: 0;
    vertical-align: top;
    color: #666;
}
