.register-container {
    max-width: 460px;
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin-top: 70px;

    h2 {
        padding: 0;
        margin: 0;
        color: black;
        font-weight: normal;
        strong {
            display: block;
            margin-bottom: 6px;
            font-size: 32px;
            font-weight: bold;
        }
    }

    .confirm {
        text-indent: 32px;
        background: #88a2c5;
        border-color: #88a2c5;
        position: relative;
        display: block;
        width: 100%;
        color: #fff;
        line-height: 52px;
        font-size: 20px;
        text-align: center;
        box-sizing: border-box;
        border: 1px solid transparent;
    }
    a {
        margin-top: 13px;
        margin-bottom: 52px;
    }

    
}