.container {
    width: 1024px;
    margin: 0 auto;
    margin-top: 3rem;
    background: #fff;
    border: 1px solid #e9ecef;
    margin-bottom: 3rem;

    .tab {
        border-bottom: 1px solid #dee2e6;
        margin-bottom: 2rem
    }

    .tab-item {
        font-size: 1.25rem;
        padding: 1rem;
        color: #868e96;
        display: inline-block;
        font-weight: 300;
        cursor: pointer;
        border-bottom: 4px solid #fff;
    }

    .active {
        color: #5a57bf;
        font-weight: 600;
        border-bottom: 4px solid #5a57bf;
    }

    
}