.checkArea {
    position: relative;
    height: 34px;
    .reN_Radio {
        display: inline-block;
        position: relative;
        height: 34px;
        line-height: 34px;
        .rab {
            position: absolute;
            top: 0;
            left: 0;
            height: 0;
            border: none;
            opacity: 0;
            z-index: 100;
        }
        label {
            display: inline-block;
            padding-left: 50px;
            min-height: 34px;
            text-align: left;
            background: url(../../../static/images/reN_radio01_off.png) no-repeat 0 0;
        }
    }
}

.etc_link {
    position: absolute;
    right: 0;
    top: 9px;

    .etc02:before {
        position: absolute;
        left: 0;
        top: 2px;
        width: 2px;
        height: 15px;
        background-color: #d1d1d6;
        content: '';
    }

    li {
        list-style: none;
        position: relative;
        float: left;
        padding-left: 15px;
        margin-left: 14px; 
        a {
            display: block;
            font-size: 13px;
            color: #666;
        }
    }
}