{
    "extends": "airbnb-base",
    "plugins": [
        "react",
        "jsx-a11y",
        "import"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "no-unused-vars": 1,
        "comman-dangle": 0,
        "eol-last": 0,
        "no-console": 0,
        "react/prop-types": 0,
        "react/jsx-uses-react": "error",
        "react/jsx-uses-vars": "error",
        "linebreak-style": 0
    }
}