.inner-search {
  position: absolute;
  left: 340px;
  top: 34px;
  width: 485px;

  .total-search {
    position: relative;
    width: 485px;
    height: 50px;
    line-height: 50px;
    background: white;
    border-radius: 45px;
    padding-left: 22px;
    padding-right: 55px;

    input[type="text"] {
      height: 50px;
      line-height: 50px;
      border: 0;
      font-size: 16px;
      width: 400px;
      vertical-align: top;
      outline: none;
    }
  }

  .btn-search {
    position: absolute;
    right: 20px;
    top: 12px;
    width: 25px;
    height: 25px;
    display: block;
    text-indent: -9999px;
    border: white;
    background: url(../../../../static/images/ic_search.gif) no-repeat 0 0;
  }
}
