.MainHead {
  width: 100%;
  position: relative;
  z-index: 11;
  background-repeat: no-repeat;
  background-position: top center;
  margin-top: 116px;

  * {
    box-sizing: border-box;
  }

  .logo {
    display: block;
    position: absolute;
    top: 40px;
    left: 179px;
    font-size: 32px;
    font-weight: 700;
  }
}
