.ipt {
    position: relative;
    width: 100%;

    input {
        width: 100%;
        height: 54px;
        padding: 18px 15px 17px;
        font-size: 16px;
        -webkit-appearance: none;
        border-radius: 0;
        box-sizing: border-box;
        border: 1px solid #dadada;
        background: transparent;
    }

    .form-tit {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        padding-left: 15px;
        font-size: 16px;
        margin-top: -9px;
        line-height: 18px;
        color: #929292;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        box-sizing: border-box;
    }

}