* {
    box-sizing: inherit;
}

.login-container {
    margin: 0 auto;
    margin-top: 50px;
    width: 500px;
    height: auto;
    padding-bottom: 50px;

    .inner {
        background: #fff;
        box-shadow: 0 6px 12px rgba(0, 0, 0, .23), 0 10px 40px rgba(0,0,0,.19);
        animation-timing-function: ease-in-out;
    }
}

